@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

$customTheme: mat.define-theme();

@include mat.core();

.custom-theme{
    @include mat.all-component-themes($customTheme);

    //Stil za dugmad
    .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button{
        @apply rounded-md
    }
}

.container{
    @apply ml-5 mr-auto max-w-screen-2xl
}

.text-primary{
    color: purple;
}
button.match-input-heiht{
    height: var(--mat-form-field-container-height) !important;
}


.mdc-notched-outline__notch{
    border-right-style: none !important
}
#mat-paginator-page-size-label-0{
    visibility: hidden;
    position: relative;
}
#mat-paginator-page-size-label-0::after{
    content: "Prikaži artikle";
    visibility: visible;
    position: absolute;
    left: 0;
}
