.product-card{
  transition: transform 0.2s, box-shadow 0.2s;  
  // width:297px;  /* Fiksna širina */
  // height: 410px; /* Fiksna visina */
  // display: flex;
  // flex-direction: column; 
 
}

// .product-card img {
//   width: 100%;
//   height: auto;
//   object-fit: cover; /* Slika će zadržati proporcije i ispuniti širinu */
// }


.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0.2);
    cursor: pointer;

}