<section *ngIf="signalRService.orderSignal() as order" class="bg-white py-16">
  <div class="mx-auto max-w-2xl px-4">
    <h2 class="font-semibold text-2xl mb-2">Hvala! Vaša narudžba će uskoro stići.</h2>
    <p class="text-gray-500 mb-8">
      Vašs narudžba <span class="font-medium">
        #{{order.id}}
      </span>
     
    </p>
    <div class="space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-8">
        <dl class="flex items-center justify-between gap-4">
            <dt class="font-normal text-gray-500">Datum</dt>
            <dd class="font-medium text-gray-900 text-end">
              {{order.orderDate | date: 'medium'}}
            </dd>
        </dl>


        <dl class="flex items-center justify-between gap-4">
            <dt class="font-normal text-gray-500">Način plaćanja</dt>
            <dd class="font-medium text-gray-900 text-end">
              {{order.paymentSummary | card}}
            </dd>
        </dl>

        <dl class="flex items-center justify-between gap-4">
            <dt class="font-normal text-gray-500">Adresa</dt>
            <dd class="font-medium text-gray-900 text-end">
             {{order.shippingAddress | address}}
            </dd>
        </dl>

        <dl class="flex items-center justify-between gap-4">
            <dt class="font-normal text-gray-500">Račun</dt>
            <dd class="font-medium text-gray-900 text-end">
            {{order.total | currency: " KM "}}
            </dd>
        </dl>
    </div>

    <div class="flex items-center space-x-4">
        <button routerLink="/orders/{{order.id}}" mat-flat-button>Pregled narudžbe</button>
        <button routerLink="/shop" mat-stroked-button>Nastavi kupovinu</button>
    </div>
    
  </div>
</section>

<section *ngIf="!signalRService.orderSignal()" class="bg-white py-16">
  <div class="mx-auto max-w-2xl px-4">
    <h2 class="font-semibold text-2xl mb-2">Obrada narudžbe...</h2>
    <div class="space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-8">
<div class="flex flex-col justify-center items-center">
  <mat-spinner diameter="30"></mat-spinner>
  <p class="text-xl">Učitavanje narudžbe...</p>
  <span>Vaša uplata je uspješna. Kreiranje narudžbe je u toku.</span>

</div>
      </div>
   
    <div class="flex items-center space-x-4">
       
        <button routerLink="/shop" mat-stroked-button>Nastavi kupovinu</button>
    </div>
    
  </div>
</section>