<section class="bg-white py-16">
  <div class="mx-auto max-w-2xl px-4">
    <h2 class="font-semibold text-2xl mb-2">Hvala! Vaša narudžba će uskoro stići.</h2>
    <p class="text-gray-500 mb-8">
      Vašs narudžba <span class="font-medium">#42</span>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </p>
    <div class="space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-8">
        <dl class="flex items-center justify-between gap-4">
            <dt class="font-normal text-gray-500">Datum</dt>
            <dd class="font-medium text-gray-900 text-end">1. Septembar 2025.</dd>
        </dl>

        <dl class="flex items-center justify-between gap-4">
            <dt class="font-normal text-gray-500">Način plaćanja</dt>
            <dd class="font-medium text-gray-900 text-end">Visa</dd>
        </dl>

        <dl class="flex items-center justify-between gap-4">
            <dt class="font-normal text-gray-500">Adresa</dt>
            <dd class="font-medium text-gray-900 text-end">Spasovdanska 13 a</dd>
        </dl>

        <dl class="flex items-center justify-between gap-4">
            <dt class="font-normal text-gray-500">Račun</dt>
            <dd class="font-medium text-gray-900 text-end">KM 300</dd>
        </dl>
    </div>

    <div class="flex items-center space-x-4">
        <button routerLink="/orders/42" mat-flat-button>Pregled narudžbe</button>
        <button routerLink="/shop" mat-stroked-button>Nastavi kupovinu</button>
    </div>
    
  </div>
</section>
