<div class="mx-auto max-w-4xl flex-1 space-y-6 w-full">
  <div
    class="space-y-4 rounded-lg border border-gray-200 bg-white shadow-sm p-4"
  >
    <p class="text-xl font-semibold text-center">Račun</p>
    <div class="space-y-4">
      <div class="space-y-2">
        <dl class="flex items-center justify-between gap-4">
          <dt class="font-medium text-gray-500">Ukupno</dt>
          <dd class="font-medium text-gray-900">
            {{ carService.totals()?.subtotal | currency : "KM" }}
          </dd>
        </dl>

        <dl class="flex items-center justify-between gap-4">
          <dt class="font-medium text-gray-500">Popust</dt>
          <dd class="font-medium text-green-300">
            -{{ carService.totals()?.discount | currency : "KM" }}
          </dd>
        </dl>

        <dl class="flex items-center justify-between gap-4">
          <dt class="font-medium text-gray-500">Poštarina</dt>
          <dd class="font-medium text-gray-900">
            {{ carService.totals()?.shipping | currency : "KM" }}
          </dd>
        </dl>
      </div>
      <dl
        class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2"
      >
        <dt class="font-medium text-gray-500">Ukupno</dt>
        <dd class="font-medium text-gray-900">
          {{ carService.totals()?.total | currency : "KM" }}
        </dd>
      </dl>
    </div>
@if(location.path() !== '/checkout')
{
   <div class="flex flex-col gap-2">
      <button routerLink="/checkout" mat-flat-button>Kupi</button>
      <button routerLink="/shop" mat-button>Nastavi kupovinu</button>
    </div>
 
}
    </div>

  <div
    class="space-y-4 rounded-lg border border-gray-200 bg-white shadow-sm p-4"
  >
    <form class="space-y-2 flex flex-col p-2">
      <label class="mb-2 block text-sm font-medium"
        >Imate li kod za popust?</label
      >
      <mat-form-field appearance="outline">
        <mat-label>Kod za popust</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <button mat-flat-button>Unesi kod</button>
    </form>
  </div>
</div>
