<div class="w-full fixed">
  <div
    class="flex flex-col my-16  mt-20 rounded-2xl "
  >
    <img
      class="absolute inset-0 object-cover w-full "
      src="../images/xlight15.jpg"
      alt="image"
    />
    <div class="text-center flex-col fixed flex-auto w-full">
      <h1 class="h-2/3 font-light text-white text-7xl text-center ml-8">
        Dobrodošli u xLight!
      </h1>
      <button
        class="bg-white font-sans text-4xl p-4 mt-12 text-black inline-block rounded-xl"
        routerLink="/shop"
      >
        Započni kupovinu
      </button>
    </div>
  </div>
</div>
